.popupNotification {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.3);
    /* opacity: 0.3; */
    /* display: none; */
    z-index: 1000000;
    place-content: center;
}

.popupNotification_main {
    position: relative;
    width: fit-content;
    background-color: white;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    box-shadow:  -2px 2px 10px #d3d3d3,
            2px -2px 10px #ededed;
    max-width: 30%;
    min-width: 400px;
    margin: auto;
}

.popupNotification_exit {
    position: absolute;
    top: 8%;
    right: 8%;
    color: var(--primary-text-color);
    width: 30px;
    height: 30px;
    border-radius: 100000px;
    display: grid;
    place-content: center;
    cursor: pointer;
}

.popupNotification_exit:hover {
    color: #6d7d96;
    background-color: #d7e0ef;
}

.popupNotification_result {
    margin: 2rem auto;
    width: fit-content;
}

.popupNotification_result.loading .loader {
  border: 8px solid #f3f3f3;       /* Màu viền nền */
  border-top: 8px solid #3498db;   /* Màu viền quay */
  border-radius: 50%;              /* Tạo hình tròn */
  width: 60px;
  height: 60px;
  animation: spin 1s linear infinite; /* Animation quay */
}

.success i {
    display: none;
}

.fail i {
    display: none;
}

.popupNotification_result.success .success i {
    display: block;
    font-size: 4rem;
    color: rgb(0, 189, 0);
}

.popupNotification_result.fail .fail i {
    display: block;
    font-size: 4rem;
    color: rgb(193, 42, 22);
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.popupNotification_message {
    color: var(--primary-text-color);
    font-weight: 700;
    font-size: 1.4rem;
    padding: 10px 20px;
}

.token_show_title {
    color: var(--primary-text-color);
}

.token_show_token {
    word-break: break-all;     
    width: 100%;
    white-space: normal; 
}

.popupNotification_decision_box {
    margin-top: 40px;
    padding: 0 10%;
    display: flex;
    justify-content: space-between;
    font-size: 1.3rem;
}

.popupNotification_decision_box-no, 
.popupNotification_decision_box-yes {
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
}

.popupNotification_decision_box-no:hover, 
.popupNotification_decision_box-yes:hover {
    filter: brightness(96%);
}

.popupNotification_decision_box-no {
    background-color: #cad3e1;
}

.popupNotification_decision_box-yes {
    background-color: #47b6f7;
}

.spacing {
    height: 40px;
}